@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


html {
    text-decoration: none; 
    font-family: "Ubuntu", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
    background-color: white; 
    line-height: 2.15;
}
body {
    padding: 20px;
    background-color: white;
    color: black;
    text-align: left;
}
h1{
    font-weight: 700;
    text-align: center;
}

h2, h3, h4, h5, h6 {
    font-weight: 500;
    text-align: center;
}
header, footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
	border-radius: 10px;
}
tab {
	margin-left: 10px;
}
button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	border: 1px;
    background: #01CC9A;
    border-color: black;
    color: #fff;
    padding: 10px 10px;
	font-family: "Ubuntu", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 25px;
    min-width: 100px;
    text-align: center;
	border-radius: 15px;
}
nav {
    border-color: black;
    text-align: center;
    text-decoration: none;
    background-color: #01CC9A;
	border-radius: 15px;
	padding: 15px;
}

button:hover {
    background: #007A4A;
}
      
button:focus {
    background: #009A5B;
}
a:visited {
    color: #1d66aa;
    text-decoration: none;
}
a:link {
    color: #1d66aa;
    text-decoration: none;
}
.light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}
