@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html {
    text-decoration: none; 
    font-family: "Inter", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 21px;
	background-image: url(mainimage.jpg);
	background-repeat: no-repeat;
	background-size: 5120px auto;
    line-height: 1.75;
}
body {
    padding: 30px;
    background-color: white;
    color: black;
    text-align: left;
	border-radius: 30px;
}
h1 {
	font-size: 30px;
    font-weight: 500;
    text-align: center;
}

h2, h3, h4, h5, h6 {
	font-size: 25px;
    font-weight: 400;
    text-align: center;
}
header, footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
	border-radius: 30px;
	line-height: 1.15;
	font-size: 15px;
}
.tab {
	margin-left: 35px;
}
button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	border: 1px;
    background: #01CC9A;
    border-color: black;
    color: #fff;
    padding: 10px 10px;
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 23px;
    text-align: center;
	border-radius: 30px;
}
nav {
    border-color: black;
    text-align: center;
    text-decoration: none;
    background-color: #01CC9A;
	border-radius: 30px;
	padding: 15px;
}

button:hover {
    background: #007A4A;
}

a:visited {
    color: #1d66aa;
    text-decoration: none;
}
a:link {
    color: #1d66aa;
    text-decoration: none;
}
.light {
  font-weight: 300;
  font-style: normal;
}

.medium {
  font-weight: 500;
  font-style: normal;
}

.bold {
  font-weight: 700;
  font-style: normal;
}

.light-italic {
  font-weight: 300;
  font-style: italic;
}

.italic {
  font-weight: 400;
  font-style: italic;
}

.medium-italic {
  font-weight: 500;
  font-style: italic;
}

.bold-italic {
  font-weight: 700;
  font-style: italic;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.red {
  color: red;
}

.gray {
  color: gray;
}