html {
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
}
h1 {
    font-weight: 600;
    margin-top: 200px;
    text-align: center;
    margin-bottom: 10px;
}