@font-face {
    font-family: 'Whitney';
    src: url('https://uralstuff.github.io/fonts/Whitney-Book.eot');
    src: url('https://uralstuff.github.io/fonts/Whitney-Book.eot?#iefix') format('embedded-opentype'),
    url('https://uralstuff.github.io/fonts/Whitney-Book.woff') format('woff'),
    url('https://uralstuff.github.io/fonts/Whitney-Book.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Whitney';
    src: url('https://uralstuff.github.io/fonts/Whitney-BookItalic.eot');
    src: url('https://uralstuff.github.io/fonts/Whitney-BookItalic.eot?#iefix') format('embedded-opentype'),
    url('https://uralstuff.github.io/fonts/Whitney-BookItalic.woff') format('woff'),
    url('https://uralstuff.github.io/fonts/Whitney-BookItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Whitney';
    src: url('https://uralstuff.github.io/fonts/Whitney-Medium.eot');
    src: url('https://uralstuff.github.io/fonts/Whitney-Medium.eot?#iefix') format('embedded-opentype'),
    url('https://uralstuff.github.io/fonts/Whitney-Medium.woff') format('woff'),
    url('https://uralstuff.github.io/fonts/Whitney-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Whitney';
    src: url('https://uralstuff.github.io/fonts/Whitney-MediumItalic.eot');
    src: url('https://uralstuff.github.io/fonts/Whitney-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('https://uralstuff.github.io/fonts/Whitney-MediumItalic.woff') format('woff'),
    url('https://uralstuff.github.io/fonts/Whitney-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

:root, :lang(ru) {

--font-display: 'Whitney';
--font-primary: 'Whitney';
--font-headline: 'Whitney';
--font-code: 'Whitney';

}