html {
    text-decoration: none;
    font-family: 'SF Pro Text', system-ui, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Ubuntu, 'Open Sans', sans-serif;
    font-size: 17px;
    padding: 20px;
    background-image: url(../png/earth.png);
    background-size: 4% auto;
}
body {
    padding: 18px;
    background-color: white;
    color: black;
}
h1, h2, h3, h4, h5, h6 {
    text-align: center;
}
#upside {
    background-color: #1a737f;
    color: white;
    padding: 6px;
}